/* import fonts from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&family=Varela+Round&display=swap');

/* start css reset */


* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #33b0d2;
    /* background: linear-gradient(to right #f7bd10 20%, #3988ff 80%); */
    color: #1c1b1b;
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
}

body,
input,
button {
    list-style: none;
    font-size: 2rem;

}

h1,
h2,
h3 {
    margin-left: 1.5rem;
    font-family: 'Oswald', sans-serif;
}



/* end css reset */
/* start root */
/* root :
; */
/* end root */
img {
    width: 100%;
    min-width: 100vh;
}

a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6;
}

li {
    font-family: 'Varela Round'sans-serif;
    font-size: 1.125rem;
    line-height: 1rem;
    text-underline-offset: 0.25rem;
    max-width: 50%;
    margin-left: 3rem;
    padding: 1rem;
}

ol,
ul {
    margin: 2rem;
}


p {
    margin-left: 1rem;
    font-family: 'Valera Round', sans-serif;
    font-size: 0.9rem;
}

ol li::before {
    counter-increment: section;
    content: "Step "counter(section);
    color: #000;
    font-size: 1.5rem;
    position: relative;
    margin-left: 0px;
    width: auto;
    text-align: unset;
}

button {
    cursor: pointer;
}

recipe-details__content {
    display: grid;
    grid-row: 2rem;
    grid-column: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}